<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<style type="text/css">
    .active_rule{
        width:100%;
        height:100%;
        background-image: url('/vote_images/active_rule.png');
        background-size:100% 100%;
        position:fixed;
    }
    .active_rule_back{
        width: 100px;
        height: 38px;
        background-image: url('/vote_images/active_rule_back.png') ;
        position: fixed;
        top: 87%;
        left: 37%;
    }
    /*背景音乐1*/
    *{ margin:0; padding:0; list-style:none;}
    #lanren #audio-btn{width: 34px;height: 34px; position: fixed;top: 93% ;left: 88%;background-size: 100% 100%;}
    #lanren .on{background: url('/images/music_on.png') no-repeat 0 0;-webkit-animation: rotating 1.2s linear infinite;animation: rotating 1.2s linear infinite;}
    #lanren .off{background: url('/images/music_off.png') no-repeat 0 0;}
    @-webkit-keyframes rotating {
      from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes rotating {
      from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
</style>
<div>
    <div class="active_rule">
      <button class="active_rule_back" onclick="window.location.href='/people'"></button>
      <!-- 背景音乐2 -->
      <div id="lanren">
        <div id="audio-btn" class="on" onclick="lanren.changeClass(this,'media')">
          <audio loop="loop" src="/vote_images/wind137.mp3" id="media" preload="preload"></audio>
        </div>
      </div>
    </div>
</div>

<audio id="audio" loop="loop" preload="auto"></audio>

<script type="text/javascript">
    $("#start_music").bind('click', function () {
      alert("play music");
      var audio = document.getElementById('audio');
      audio.setAttribute('src', '/vote_images/wind137.mp3');
      audio.load();
      audio.play();
    })
    // 背景音乐2
    var lanren = {
      changeClass: function (target,id) {
        var className = $(target).attr('class');
        var ids = document.getElementById(id);
        (className == 'on') ? $(target).removeClass('on').addClass('off') : $(target).removeClass('off').addClass('on');
        (className == 'on') ? ids.pause() : ids.play();
      },
      play:function(){
        document.getElementById('media').play();
      }
    }
    lanren.play();
  </script>