<!DOCTYPE html>
<html>
  <head>
    <title>名人堂狂享曲</title>
    <link rel="prefetch" href="/vote_images/wind137.mp3" /> 
    <!-- <link Rel="SHORTCUT ICON" href="/vote_images/favicon.ico" type="image/x-icon"> -->
    <!-- <link Rel="BOOKMARK" href="/vote_images/favicon.ico" type="image/x-icon"> -->
    <!-- <div id='wx_pic' style='margin:0 auto;display:none;'> -->
    <!-- <img src="/vote_images/link.png"> -->
    <!-- <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" /> -->
    <!-- <div id='shareImage' style='display:none;'>
      <img src='/vote_images/link_new.png' />
    </div> -->
    <!-- 
    <link rel="icon" href="/vote_images/favicon.ico" mce_href="/vote_images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/vote_images/favicon.ico" mce_href="/vote_images/favicon.ico" type="image/x-icon">
     -->
     <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
